
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.imagePreview{
    width: 440px;
}

.menuContainer{
    height: 100%;
    z-index: 1;
    position: absolute;    
    justify-content : flex-end;
    display: flex;
    overflow: hidden;
    right: 0px;
    padding-right: 120px;
    display: block;
    transform: translateX(0px);
}

.menuContainer.displayNone{
    display : none;
}

.previewList.off{
    transform: translateX(700px);
}

.previewList{
    width: 470px;
    height: 100%;
    overflow: scroll;
    transform: translateX(0px);
    transition: transform 500ms;
    overflow-y: scroll;
    overflow-x: hidden;

}


.colapseContainer{
    width: 120px;
    height: 120px;
    right: 0px;
    position: absolute;
    z-index: 2;

    transition: transform 300ms;
    top: 15px;
    transform: rotate(180deg);
}

.colapseContainer.open{
    transform: rotate(0deg);

}

.colapseContainer .left{
    border-top: 7px solid;
    border-right: 7px solid white;
    height: 22px;
    width: 22px;
    position: absolute;
    border-radius: 3px;
    border-color: white;
    transform: rotate(45deg);

    top: 46px;
    left: 30px;

    transition: transform 400ms;

}

.colapseContainer .right{
    border-top: 7px solid;
    border-right: 7px solid white;
    height: 22px;
    width: 22px;
    position: absolute;
    border-radius: 3px;
    border-color: white;
    transform: rotate(45deg);

    top: 46px;
    left: 49px;

    transition: transform 400ms;

}


.indicatorBg{

    width: 12px;
    background: #3D3D3D;
    margin-right: 10px;
    transition: width 500s;

}

.indicator.on{

    transform: scaleY(1);
    height: 100%;
    background: white;
    transition: transform 300ms;

}
.indicator{

    transform: scaleY(0);
    height: 100%;
    background: white;
    transition: transform 300ms;
    transform-origin: top center;

}

.indicator.bottom{
    transform-origin: bottom center;
}

.previewComtanier{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    position : relative;
}

/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
.videosContainer{

    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.previewTitle{

    position: absolute;
    color: white;
    font-size: 40px;
    width : 350px;
    margin-left: 55px;
    bottom : 25px;
}



.overlay{

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    transition: opacity 400ms;

}

.overlay.off{
    opacity: 0;
}


.overlay.displayNone{
    display: none !important;
}

.overlayTitle{

    font-size: 70px;
    color: #E4E4E4;
    width: 1000px;
    position: absolute;
    top: 250px;
    left: 90px;
}

.overlayBG{

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);

}

.overlayLine{

    position: absolute;
    width: 550px;
    height: 10px;
    background-color: white;
    top: 530px;
    left: 90px;

}

.overlayIcon{

    width: 110px;
    height: 110px;
    background-color: white;
    position: absolute;
    top: 600px;
    left : 90px

}

.overlayIcon .right{
    border-top: 10px solid #1A1819;
    width: 15px;
    height: 15px;
    border-right: 10px solid #1A1819;
    position: absolute;
    top: 15;
    right: 15;
}

.overlayIcon .left{
    border-bottom: 10px solid #1A1819;
    border-left: 10px solid #1A1819;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 15;
    left: 15;
}

.overlayfullScreen{

    color: white;
    position: absolute;
    font-size: 40px;
    top: 640px;
    left : 240px

}